<!DOCTYPE html>
<html>
  <head>
    <title>Firstproject</title>
  </head>

  <body>
    <h1>User Page!</h1>
    <% if current_user.admin? %>
      ty pidor <br>
    <% end %>

    <% @user_rates.each do |rate| %>
      <%= rate.curr_1 %> to
      <%= rate.curr_2 %> is
      <%= rate.rate %> <br>
    <% end %>
  </body>
</html>
