<!DOCTYPE html>
<html>
  <head>
    <title>Firstproject</title>
  </head>

  <body>
    <h1>Hello!</h1>
    Курс доллара: <br>
    <%= line_chart @last_10_rate, min: @last_10_rate_min, max:@last_10_rate_max %>
  </body>
</html>
